@model IEnumerable<DataAccess.Expense>

@{
    ViewBag.Title = "Expenses";
}

<h2>All expenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Category).ToString(), "IndexByCategory", new { categoryName=item.Category })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    Also you can browse the expenses aggregated by selected month:
    @Html.ActionLink("1", "IndexByMonth", new { month = 1 }) |
    @Html.ActionLink("2", "IndexByMonth", new { month = 2 }) |
    @Html.ActionLink("3", "IndexByMonth", new { month = 3 }) |
    @Html.ActionLink("4", "IndexByMonth", new { month = 4 }) |
    @Html.ActionLink("5", "IndexByMonth", new { month = 5 }) |
    @Html.ActionLink("6", "IndexByMonth", new { month = 6 }) |
    @Html.ActionLink("7", "IndexByMonth", new { month = 7 }) |
    @Html.ActionLink("8", "IndexByMonth", new { month = 8 }) |
    @Html.ActionLink("9", "IndexByMonth", new { month = 9 }) |
    @Html.ActionLink("10", "IndexByMonth", new { month = 10 }) |
    @Html.ActionLink("11", "IndexByMonth", new { month = 11 }) |
    @Html.ActionLink("12", "IndexByMonth", new { month = 12 })
</p>
